.fullwidth {
  width: 100%;
}
#LA-img {
  width: 250%;
}
#NY-img {
  width: 150%;
}
#WC-img {
  width: 450%;
}

.bio-grid {
  margin-top: 50px;
}

.about-cell {
  height: 500px;
  overflow: hidden;
  margin-bottom: 30px;
  width: 32%;
  position: relative;
}

.side-call {
  margin: 0;
  float: left;
}

.abs {
  z-index: 0;
  position: absolute;
  top: 0;
  height: 500px;
  overflow: hidden;
}

.toptype {
  z-index: 1;
  position: relative;
}

.Hover {
  background-color: green;
  transition-property: background-color;
  color: #fff;
  position: absolute;
  top: 0;
  height: 500px;
  overflow: hidden;
  z-index: 2;
  display: none;
  padding: 20px;
  opacity: 0;
}

#LA:hover > .Hover, #NY:hover > .Hover, #WC:hover > .Hover, #BJ:hover > .Hover {
  display: block;
  opacity: 1;
  transition-duration: 2s;
  transform-style: ease-in;
}

#LA:hover > .toptype {
  display: none;
}
