.fullwidth {
  width: 100%;
}
#LA-img {
  width: 300%;
}
#NY-img {
  width: 150%;
}
#WC-img {
  width: 400%;
}
#BJ-img {
  width: 215%;
}
#NJ-img {
  width: 175%;
}
#TX-img {
  width: 245%;
}
#HT-img {
  width: 200%;
}
#ZM-img {
  width: 225%;
}
#TBD-img {
  width: 225%;
}
.bio-grid {
  margin-top: 50px;
}

.about-cell {
  height: 500px;
  overflow: hidden;
  margin-bottom: 25px;
  width: 32%;
  position: relative;
}

.side-call {
  margin: 0, 0, 0, 25px;
  float: left;
}

.abs {
  z-index: 0;
  position: absolute;
  top: 0;
  height: 500px;
  overflow: hidden;
}
.yellow-overlay {
  background-color: rgba(255, 212, 89, .5);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
}
.abs > img {
  position: relative;
}
.abs > #LA-img {
  top: -100px;
  left: -75px;
}
.abs > #NY-img {
  left: -50px;
}
.abs > #WC-img {
  left: -500px;
  top: -200px;
}
.abs > #BJ-img {
  left: -160px;
}
.abs > #NJ-img {
  top: -100px;
  left: -75px;
}
.abs > #TX-img {
  left: -250px;
}
.abs > #HT-img {
  left: -115px;
  top: -50px;
}
.abs > #ZM-img {
  left: -225px;
  top: -140px;
}
.abs > #TBD-img {
  left: -175px;
}
.toptype {
  z-index: 1;
  position: relative;
}
.toptype > h3 {
  margin: 0 auto;
  text-align: center;
  padding-top: 350px;
}
.toptype > h4 {
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
}
.toptype > h3, .toptype > h4 {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #4a4a4a;
}
.Hover {
  background-color: #FFD459;
  color: #B2902C;
  position: absolute;
  top: 0;
  height: 500px;
  overflow: hidden;
  z-index: 2;
  padding: 20px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 1s, ease-in;
  transition: opacity 1s, ease-in;
}

#LA:hover > .Hover, #NY:hover > .Hover, #WC:hover > .Hover, #BJ:hover > .Hover, #NJ:hover > .Hover, #TX:hover > .Hover, #HT:hover > .Hover, #ZM:hover > .Hover, #TBD:hover > .Hover {
  visibility:visible;
  display: block;
  opacity: 1;
}

#LA:hover > .toptype, #NY:hover > .toptype, #WC:hover > .toptype, #BJ:hover > .toptype, #NJ:hover > .toptype, #TX:hover > .toptype, #HT:hover > .toptype, #ZM:hover > .toptype, #TBD:hover > .toptype {
  display: none;
}
.Hover > h4 {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.Hover > p {
  font-family: "Arapey", serif;
  font-weight: 400;
  font-size:16px;
  line-height: 19px;
  padding: 0 10px 0 10px;
}
/*.toptype {
  width: 100%;
  height: 100px;
  visibility: hidden;
  background-color: green;
  -webkit-transition: background-color 5s;
  -moz-transition: background-color 5s;
  -o-transition: background-color 5s;
  -ms-transition: background-color 5s;
  transition: background-color 5s;
  transform-style: ease-in;
}

.abs:hover > .toptype {
  visibility: visible;
  background-color: red;
}*/
